#new_match {
    margin: 0px;
    margin-top: 10px;
    width: 100%;
    padding-left: 0px;
    color: black;
    list-style-type: none;
}

#new_match > li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0px;
}

input {
    border: none;
    padding: 0px;
    margin: 0px;
    border-right: 1px solid black;
    font-size: 20px;
}

#new_match > li span {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
}

#new_match #new_vs {
    width: 10%;
    color: white;
    font-size: 20px;
}

#new_date {
    width: 25%;
}

#new_player1 {
    width: 20%;
}

#new_player2 {
    width: 20%;
}

#new_match #new_sets {
    width: 24%;
    text-align: left;
}

#new_set1 {
    width: 32%;
}
#new_set2 {
    width: 32%;
}
#new_set3 {
    width: 32%;
}

#matches > li:hover {
    background-color: #db8888;
}
