html {
    background-color: #1f2227;
    color: white;
}

@font-face {
    font-family: Kamcord;
    src: url(fonts/ProximaNova-Light.otf);
}

body {
    margin: 0px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: Kamcord;
    padding-bottom: 20px;
}

#title {
    font-size: 0px;
}
#title > img {
    display: inline-block;
    width: 15%;
    vertical-align: middle;
}

#title > #kamcord {
    display: inline-block;
    text-align: center;
    width: 70%;
    font-size: 40px;
    vertical-align: middle;
}

#header {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 700px;
    font-size: 0px;
}

#header > li {
    display: inline-block;
    width: 345px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #3eb872;
}

#header > li:first-child {
    margin-left: 0px;
}

#header > li:hover {
    background-color: #2b8050;
}

#header > li > a {
    display: inline-block;
    width: 330px;
    padding: 5px;
    text-decoration: none;
    font-size: 30px;
    color: #113420;
}
