#player_header {
    font-size: 0px;
    margin-top: 10px;
}
#player_header > span {
    display: inline-block;
    text-align: center;
    font-size: 25px;
}

.name_header {
    width: 28%;
}
.ladder_header {
    width: 36%;
}
.rank_header {
    width: 18%;
}
.record_header {
    width: 18%;
}

#player {
    font-size: 0px;
    margin-top: -10px;
}
#player > span {
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

#player_name {
    width: 28%;
    font-size: 55px;
}
#player_rank {
    width: 18%;
    font-size: 40px;
}
#player_record {
    width: 18%;
    font-size: 40px;
}
#player_doubles_rank {
    width: 18%;
    font-size: 40px;
}
#player_doubles_record {
    width: 18%;
    font-size: 40px;
}

#matches_header {
    font-size: 0px;
    margin-top: 10px;
}
#matches_header > span {
    display: inline-block;
    text-align: center;
    font-size: 25px;
}

#matches_header > .date_header {
    width: 30%;
}
#matches_header > .opponent_header {
    width: 40%;
}
#matches_header > .score_header {
    width: 30%;
}

#match_list {
    margin: 10px 0px;
    width: 100%;
    padding-left: 0px;
    font-size: 20px;
    background-color: white;
    color: black;
    list-style-type: none;
}

#match_list > li {
    padding-top: 5px;
    padding-bottom: 5px;
}
#match_list > li a {
    padding-top: 5px;
    padding-bottom: 5px;
}
#match_list > li span {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
}
#match_list > li:nth-child(2n) {
    background-color: rgb(230,230,230);
}
#match_list > li:hover {
    background-color: #9cdbb7;
}

#doubles_matches_header {
    font-size: 0px;
    margin-top: 50px;
}
#doubles_matches_header > span {
    display: inline-block;
    text-align: center;
    font-size: 25px;
}

#doubles_match_list {
    margin: 10px 0px;
    width: 100%;
    padding-left: 0px;
    font-size: 20px;
    background-color: white;
    color: black;
    list-style-type: none;
}

#doubles_match_list > li {
    padding-top: 5px;
    padding-bottom: 5px;
}
#doubles_match_list > li a {
    padding-top: 5px;
    padding-bottom: 5px;
}
#doubles_match_list > li span {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
}
#doubles_match_list > li:nth-child(2n) {
    background-color: rgb(230,230,230);
}
#doubles_match_list > li:hover {
    background-color: #9cdbb7;
}

#match_list .date {
    width: 30%;
}
#match_list .challenged {
    width: 20%;
}
#match_list .other_player {
    width: 20%;
}
#match_list .score {
    width: 30%;
}

#doubles_matches_header > .date_header {
    width: 20%;
}
#doubles_matches_header > .with_header {
    width: 10%;
}
#doubles_matches_header > .opponent_header {
    width: 50%;
}
#doubles_matches_header > .score_header {
    width: 20%;
}

#doubles_match_list .date {
    width: 20%;
}
#doubles_match_list .with {
    width: 10%;
}
#doubles_match_list .challenged {
    width: 25%;
}
#doubles_match_list .versus {
    width: 25%;
}
#doubles_match_list .score {
    width: 20%;
}
#doubles_match_list a {
    text-decoration: none;
    color: black;
}

#player_chart {
    background-color: white;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: #3eb872;
    stroke-width: 3px;
}

.doubles_line {
    fill: none;
    stroke: #125640;
    stroke-width: 3px;
}

.point.singles {
    fill: white;
    stroke: #2b8050;
    stroke-width: 3px;
}
.point.doubles {
    fill: white;
    stroke: #084630;
    stroke-width: 3px;
}

.tipsy { font-size: 20px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; padding: 5px 8px 4px 8px; text-align: left; }

/* Rounded corners */
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }

.tipsy-sw .tipsy-arrow { bottom: 0; left: 15px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
