#rankings {
    margin: 0px;
    margin-top: 10px;
    width: 100%;
    padding-left: 0px;
    font-size: 20px;
    background-color: white;
}

#rankings > li {
    padding-top: 5px;
    padding-bottom: 5px;
}

#rankings_header {
    margin-top: 10px;
}

#name_header {
    display: inline-block;
    text-align: center;
    width: 50%;
    font-size: 25px;
}

#rank_header {
    display: inline-block;
    text-align: center;
    width: 50%;
    font-size: 25px;
}

#rankings {
    margin-bottom: 10px;
}

.player_name {
    display: inline-block;
    text-align: center;
    width: 50%;
    text-decoration: none;
    color: black;
}

.player_rank {
    display: inline-block;
    text-align: center;
    width: 50%;
    color: black;
}

.player_inactive {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(128,128,128);
    background-color: rgba(255,255,255,0.75);
}

#rankings > li:nth-of-type(even) {
    background-color: rgb(230,230,230);
}

.player {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.player:hover {
    background-color: #9cdbb7;
}

#footer {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 700px;
    font-size: 0px;
}

#footer > li {
    display: inline-block;
    width: 345px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #3eb872;
    cursor: pointer;
}

#footer > li:first-child {
    margin-left: 0px;
}

#footer > li:hover {
    background-color: #2b8050;
}

#footer > li > span {
    display: inline-block;
    width: 330px;
    padding: 5px;
    text-decoration: none;
    font-size: 30px;
    color: #113420;
}

#new_match_background {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(0,0,0,0.45);
}

#new_match {
    position: absolute;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255,255,255);
    color: black;
    font-size: 20px;
    padding: 15px;
}

#close_new_match {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    right: 0px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

#new_match .player_input {
    width: 48%;
    display: inline-block;
}

input {
    font-size: 20px;
    font-family: Kamcord;
}

.player_input input {
    width: 90%;
    margin: 10px 5%;
}

#sets_input {
    padding-left: 20px;
    margin-top: 5px;
}

#sets_input input {
    width: 45%;
}

#sets_input li {
    margin-bottom: 5px;
}

#new_match_buttons {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 600px;
    font-size: 0px;
}

#new_match_buttons > li {
    display: inline-block;
    width: 190px;
    margin-left: 15px;
    text-align: center;
    background-color: rgb(230,230,230);
}

#new_match_buttons > li:first-child {
    margin-left: 0px;
}

#new_match_buttons > li:hover {
    background-color: #9cdbb7;
}

#new_match_buttons > li > span {
    display: inline-block;
    width: 180px;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    color: #113420;
    cursor: pointer;
}
