ol {
    margin: 0px;
    margin-top: 10px;
    width: 100%;
    padding-left: 0px;
    font-size: 20px;
    background-color: white;
}

ol > li {
    padding-top: 5px;
    padding-bottom: 5px;
}

#rankings_header {
    margin-top: 10px;
}

#name_header {
    display: inline-block;
    text-align: center;
    width: 50%;
    font-size: 25px;
}

#rank_header {
    display: inline-block;
    text-align: center;
    width: 50%;
    font-size: 25px;
}

.player_name {
    display: inline-block;
    text-align: center;
    width: 50%;
    text-decoration: none;
    color: black;
}

.player_rank {
    display: inline-block;
    text-align: center;
    width: 50%;
    color: black;
}

.player_inactive {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(128,128,128);
    background-color: rgba(255,255,255,0.75);
}

ol > li:nth-child(2n) {
    background-color: rgb(230,230,230);
}

.player {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.player:hover {
    background-color: #9cdbb7;
}
