#rankings {
    margin: 0px;
    margin-top: 10px;
    width: 100%;
    padding-left: 0px;
    font-size: 20px;
    background-color: white;
}

#rankings > li {
    padding-top: 5px;
    padding-bottom: 5px;
}

#rankings_header {
    margin-top: 10px;
}

#name_header {
    display: inline-block;
    text-align: center;
    width: 34%;
    font-size: 25px;
}

.rank_header {
    display: inline-block;
    text-align: center;
    width: 33%;
    font-size: 25px;
    cursor: pointer;
}

#rankings {
    margin-bottom: 10px;
}

.player_name {
    display: inline-block;
    text-align: center;
    width: 34%;
    text-decoration: none;
    color: black;
}

.player_rank {
    display: inline-block;
    text-align: center;
    width: 33%;
    color: black;
}

.player_inactive {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(128,128,128);
    background-color: rgba(255,255,255,0.75);
}

#rankings > li:nth-of-type(even) {
    background-color: rgb(230,230,230);
}

.player {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.player:hover {
    background-color: #9cdbb7;
}

#footer {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 700px;
    font-size: 0px;
}

#footer > li {
    display: inline-block;
    width: 700px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #3eb872;
    cursor: pointer;
}

#footer > li:first-child {
    margin-left: 0px;
}

#footer > li:hover {
    background-color: #2b8050;
}

#footer > li > span {
    display: inline-block;
    width: 690px;
    padding: 5px;
    text-decoration: none;
    font-size: 30px;
    color: #113420;
}
