# Ignore everything in this directory
*
# Except this file
!.gitignore
# and the players directory
!players/
# and the css directory
!css/
!css/*
!css/fonts/
!css/fonts/*
# and the img directory
!img/
!img/*
